body{
    font-family: sans-serif;
    margin: 0;
    font-family: 'Merriweather', serif;
    background: rgb(52,52,52);
    background: linear-gradient(225deg, rgba(52,52,52,0.9976365546218487) 0%, rgba(33,32,29,1) 78%);
    color: wheat;
}
header{
    background-color: #211d1d;
}
.site-principal{
    padding-left:10%;
    padding-right:10%;
}
.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
.inicio{
    display:flex;
    color: #F09114;
    align-items: center;
    height: 8rem;
    padding: 0px 10px;
    font-family: 'Merriweather', serif;
    font-size: 40PX;
}
.redes, .redes a{
    padding: 5px;
}
.nav,.nav a{
    display: flex;
    padding: 4px;
    color: #F09114;
    background-color: #2E200B;
    text-decoration: none;
    font-weight: 600;
    justify-content:space-around;
}
.logo{
    height: 8rem;
    margin-right: 30px;
}

/* INTRODUCCION INDEX */
.inicio-index{
    background-image: linear-gradient( 0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/Imagenes/camarera-inteligente.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: center;
    background-size: 100%;
}
.inicio-index H1{
    color: #F09114;
}
.inicio-index H3{
    color: wheat;
}
.inicio-texto{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 5% 0% 20% 5%;
}
/*  */





/* prueba */
.Recetas-Cerveceras h1,h2{
    color:#F09114;
    padding-top: 5%;
}
#txt-ocultar{
    display: none;
}
#txt-mostrar{
    display: block;
}

.img-receta{
    height: 35vw;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    background: transparent;
    border-style: none;
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(209deg) brightness(100%) contrast(102%);
    margin-top:-25px;
    height: 60px;
    overflow: hidden;
}
.btn-ver{
display: flex;
height: 60px;
}
.btn-ocultar{
display: none;
height: 60px;
}





.contenedor {
    max-width: 400px; /* Ancho máximo del contenedor */
  }
  
  .parrafo .texto {
    max-height: 0; /* Altura inicialmente cero para ocultar el texto */
    overflow: hidden; /* Oculta el texto que se desborda */
    transition: max-height 0.5s ease-in-out; /* Agrega una transición suave al expandir/cerrar */
    margin-bottom: 10px; /* Espacio entre párrafos */
  }
  
  .parrafo.expandido .texto {
    max-height: 1000px; /* Altura máxima cuando se expande (ajusta según tus necesidades) */
  }